---
- name: check-sshd | Validate sshd service is running
  ansible.builtin.service:
    name: sshd
    state: started
  check_mode: false
  failed_when: false
  register: sshd_status

- name: check-sshd | Fail if sshd is not running
  ansible.builtin.fail:
    msg: "sshd service is not running on {{ inventory_hostname }}"
  when: sshd_status.state is defined and sshd_status.state != 'started'
