---
- name: process-users | Validate SSH key files exist
  ansible.builtin.assert:
    that:
      - lookup('file', 'authorized_keys/' + item.name + '.pub', errors='ignore') != ''
    fail_msg: "SSH key file missing: authorized_keys/{{ item.name }}.pub"
  loop: "{{ users }}"

- name: process-users | Process users
  loop: "{{ users }}"
  loop_control:
    loop_var: user_item
  when:
    - (user_item.groups is defined and user_item.groups | intersect(group_names) | length > 0) or
      (user_item.hosts is defined and inventory_hostname in user_item.hosts) or
      (user_item.admin_groups is defined and user_item.admin_groups | intersect(group_names) | length > 0) or
      (user_item.admin_hosts is defined and inventory_hostname in user_item.admin_hosts)
  block:
    - name: process-users | Create user account
      ansible.builtin.user:
        name: "{{ user_item.name }}"
        password: "{{ user_item.password }}"
        shell: /bin/bash
        createhome: true
        state: present
      no_log: true

    - name: process-users | Create .ssh directory
      ansible.builtin.file:
        path: "/home/{{ user_item.name }}/.ssh"
        owner: "{{ user_item.name }}"
        group: "{{ user_item.name }}"
        mode: '0700'
        state: directory

    - name: process-users | Add SSH public key
      ansible.posix.authorized_key:
        user: "{{ user_item.name }}"
        state: present
        key: "{{ lookup('file', 'authorized_keys/' + user_item.name + '.pub') }}"

    - name: process-users | Add to Admins group if specified
      ansible.builtin.user:
        name: "{{ user_item.name }}"
        groups: Admins
        append: true
      when:
        - (user_item.admin_groups is defined and user_item.admin_groups | intersect(group_names) | length > 0) or
          (user_item.admin_hosts is defined and inventory_hostname in user_item.admin_hosts)
