---
- name: compose | Install Docker Compose
  ansible.builtin.get_url:
    url: "https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-{{ ansible_system }}-{{ docker_compose_machine }}"
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  vars:
    docker_compose_machine: "{{ 'x86_64' if ansible_machine == 'x86_64' else 'aarch64' if ansible_machine == 'aarch64' else ansible_machine }}"
